/* ------------------------ */
/* ------------------------ */
#sub-operators,
#operators {
  flex-direction: column; }

#digits {
  flex-wrap: wrap-reverse; }
  #digits button {
    flex-basis: 1 30%; }
  #digits #equals {
    order: -1; }
  #digits #point {
    order: -2; }
  #digits #zero {
    order: -3; }

button.operator {
  background-image: linear-gradient(-180deg, #8B7E5A 0%, #B4A481 100%);
  border: 1px solid #0E1113;
  border: 1px solid #CCC4AC;
  box-shadow: 0 -1px 2px 0 #60676B, 0 2px 3px 1px rgba(16, 21, 25, 0.8); }

button.digit {
  background-image: linear-gradient(-180deg, #283137 21%, #3B464D 100%);
  border: 1px solid #0E1113;
  border: 1px solid #43515B;
  box-shadow: 0 -1px 2px 0 #60676B, 0 2px 3px 1px rgba(16, 21, 25, 0.8);
  color: white; }

button.clear {
  background-image: linear-gradient(-180deg, #AB4900 15%, #CC6A23 98%);
  border: 1px solid #D06E28;
  border: 1px solid #0E1113;
  box-shadow: 0 -1px 2px 0 #60676B, 0 2px 3px 1px rgba(16, 21, 25, 0.8); }

button.suboperator {
  background-image: linear-gradient(-180deg, #C99751 15%, #FFC77C 98%);
  border: 1px solid #FFC77E;
  border: 1px solid #0E1113;
  box-shadow: 0 -1px 2px 0 #60676B, 0 2px 3px 1px rgba(16, 21, 25, 0.8); }

button.suboperator,
button.clear,
button.operator,
button.digit {
  font-size: 18px;
  letter-spacing: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

button.suboperator,
button.clear,
button.operator {
  color: #060606; }

button.digits {
  color: white; }

button {
  cursor: pointer; }
  button:active {
    /* Oval 3 Copy 10: */
    box-shadow: 0 2px 3px 1px rgba(16, 21, 25, 0.8); }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 50px;
    height: 25px;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      background: #283137;
      border: 2px solid #FFFFFF;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 3px #000000;
      position: absolute;
      bottom: -2px;
      display: block;
      content: "";
      width: 27px;
      height: 27px; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  /* Rectangle 5: */
  background-image: linear-gradient(-180deg, #8A7A4F 0%, #B4A481 100%);
  box-shadow: 0 -1px 1px 0 #60676B, 0 1px 1px 1px rgba(16, 21, 25, 0.18), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  transition: all .4s ease; }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    transition: all .2s ease; }

/* ------------------------ */
/* ------------------------ */
html,
body,
main {
  height: 100%; }

body {
  background-color: #FFFFF6; }

#blurb {
  text-align: center; }

main {
  display: grid; }

#container {
  align-self: center;
  justify-self: center; }

button {
  border: none;
  outline: none;
  background: none;
  font: inherit; }

#container {
  position: relative;
  background: #283137;
  box-shadow: inset 0 3px 22px 10px #000000;
  border-radius: 35px;
  padding: 25px;
  padding-top: 210px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 7px 10px 34px 1px rgba(0, 0, 0, 0.68), inset -1px -6px 12px 0.1px #5f5f5f; }

/* ------------------------ */
/* ------------------------ */
@font-face {
  font-family: 'digital7';
  src: url("../fonts/digital7.woff2") format("woff2"), url("../fonts/digital7.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* ------------------------ */
/* ------------------------ */
#head {
  background-image: linear-gradient(-180deg, #F86A00 4%, #C05200 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px; }

#head:before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/blur.svg") center no-repeat;
  background-size: contain;
  height: 65px;
  width: 100%; }

#logo {
  content: "";
  display: block;
  position: absolute;
  background-size: contain;
  height: 40px;
  width: 50%;
  bottom: 0px;
  right: -15px;
  font-size: 1.3em; }

#logo:after {
  content: "";
  display: block;
  position: absolute;
  background: url(../img/intercord-logo.png) right no-repeat;
  height: 40px;
  width: 50%;
  bottom: 34px;
  right: 100px; }

/* ------------------------ */
/* ------------------------ */
#display {
  text-align: right;
  font-family: digital7;
  font-size: 2em; }
  #display #display-strip {
    position: relative;
    margin: 5px auto 0;
    padding: 5px 0 0;
    background-color: #2C323E;
    height: 85px;
    width: 170px; }
    #display #display-strip:after {
      content: "88888888";
      display: block;
      height: auto;
      width: 100%;
      position: absolute;
      z-index: 1;
      color: #3E4050;
      font-size: 36px;
      letter-spacing: 3px; }
    #display #display-strip:before {
      content: "";
      display: block;
      height: 50px;
      width: 50px;
      position: absolute;
      left: -55px;
      background: url("../img/controls-label.svg") center/contain no-repeat; }
  #display #log,
  #display #result {
    font-size: 36px;
    letter-spacing: 3px;
    z-index: 2;
    position: absolute;
    right: 0;
    color: #B8B9E1; }
  #display #log {
    top: 40px;
    font-size: .8em; }

#keypad {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 300px; }
  #keypad button {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%; }

#keypad > div {
  display: flex; }

#controls {
  margin: 15px 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; }
  #controls:after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background: url("../img/controls.svg") center/contain no-repeat;
    position: absolute;
    z-index: 1;
    left: 0; }
  #controls > div {
    position: absolute;
    z-index: 2;
    display: flex; }
  #controls > div > span {
    padding: 3px 5px 0; }
  #controls #control1:after,
  #controls #control2:before {
    margin-top: 5px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    padding: 0 10px; }
  #controls #control1:after {
    background: url("../img/controls-1.svg") center/contain no-repeat; }
  #controls #control2 {
    right: 50px; }
    #controls #control2:before {
      background: url("../img/controls-2.svg") center/contain no-repeat; }
  #controls #invert {
    width: 50px;
    height: 25px;
    background-image: linear-gradient(-180deg, #121C22 21%, #3B464D 100%);
    border: 1px solid #0E1113;
    box-shadow: 0 -1px 1px 0 #60676B, 0 1px 2px 1px rgba(16, 21, 25, 0.8), inset 0 1px 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 9px; }

#display {
  background: #343C4A;
  border: 1px solid #1B2328;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), inset 0 -2px 3px 0 rgba(255, 255, 255, 0.5);
  border-radius: 9px;
  height: 100px; }
